<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Conquer</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ajuda</h4>
                <ul>
                    <li><a href="#">Doe-aqui</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siga-nós nas Redes sociais</h4>
                <div class="social-link">
                    <a href="#"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Colaboladores</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-linkedin"></i>linkedin</a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i>linkedin</a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i>linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
