<!-- Formlulario de contato -->
<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-left">Fale com a gente</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">

                        <div class="form-group">
                            <label for="e-mail">E-mail</label>
                            <input class="form-control" type="email" name="e-mail" id="e-mail" placeholder="Seu e-mail">

                            <div class="form-group">
                                <label for="mensagem">Mensagem</label>
                                <textarea class="form-control" name="texto" id="texto" rows="3" placeholder="Digite sua mensagem aqui"></textarea>
                            </div>

                            <div class="d-flex justify-content-start">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


</div>
<!-- /Formulario de contato -->