body {
    font-family: 'Roboto', sans-serif;
}
.p-10{
    padding: 10px;
}
.m-10{
    margin: 10px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div{
    width: 100px;
    height: 100px;
}