<h2 class="text-center m-4 txt-azulescuro tipoFonte" id="equipe">Equipe</h2>


<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6 d-flex flex-column">

            <div class="d-flex ">
                <img src="https://avatars.githubusercontent.com/u/79715102?v=4"  alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px">
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Gabriek Jesus</b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href="" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <img src=""  alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px">
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Fábio </b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href="" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-6 d-flex flex-column ">

            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD">
                    <p class="integranteD"><b>Matheus Alencar</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href="" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>

                <img src="" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>

            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD ">
                    <p class="integranteD"><b>Lucas</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href="" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
                <img src="" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>



        </div>


    </div>
</div>
