<div class="jumbotron jumbotron-fluid bg-branco-nutry m-0" id="ods">
  <div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-md-6 my-auto">
            <h1 class="txt-verde pb-3 tipoFonte">ODS ONU</h1>
            <h5 class="align-items-center pb-3 fontResp">Objetivo 16 - Paz, Justiça e Instituições Eficazes, estabelecido pela Organização das Nações Unidas em 2015, visa Promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso à justiça para todos e construir instituições eficazes, responsáveis e inclusivas em todos os níveis</h5>
            <a href="https://odsbrasil.gov.br" target="_blank"><h5 class="txt-verde">Saiba mais</h5></a>
        </div>
        <div class="col-md-3 m-3 d-flex justify-content-center">
            <img src="../../assets/ods-16.png" alt="Foto da ODS-2" class="img-size img-fluid" >
        </div>
    </div>
  </div>
</div>


