<div class="d-flex container-fluid flex-column justify-content-around bg-dividido-oposto p-0 m-0">
  <div class="row">
    <div class="col-md-11 p-0">
      <h2 class="ml-5 txt-creme tipoFonte" style="text-align: center;">Como funciona?</h2>
    </div>
  </div>
  <div class="row d-flex  align-items-center mb-3">
    <div class="col-md-12 flex-wrap d-flex justify-content-around p-0 m-0">
      <a routerLink='/cadastro'>

        <div class="d-flex flex-column align-items-center zoom-img explicacao">
          <div class="d-flex justify-content-end">
            <img src="../../assets/Files sent-bro.svg" alt="Pessoa fazendo cadastro"
              class="img-fluid imgs-como-funciona">
            <div class="ajustes-numero">
              <span class="dot d-flex align-items-center justify-content-center">1</span>
            </div>
          </div>
          <h2 class="tipoFonte">Cadastre-se</h2>
          <p>É preciso fazer o cadastro para ter acesso a todos os Cursos disponíveis</p>
        </div>
      </a>
      <a routerLink='/ongs'>

        <div class="d-flex flex-column align-items-center explicacao">
          <div class="d-flex justify-content-end">
            <img src="../../assets/Search engines-bro.svg" alt="Lupas pesquisando pela página"
              class="img-fluid imgs-como-funciona">
            <div class="ajustes-numero">
              <span class="dot d-flex align-items-center justify-content-center">2</span>
            </div>
          </div>
          <h2 class="tipoFonte">Escolha uma CURSO</h2>

            <p>Cada Curso é voltado ao desenvolvimento e profissionalização dos alunos.</p>

        </div>
      </a>
      <div class="d-flex flex-column align-items-center explicacao">
        <div class="d-flex justify-content-end">
          <img src="../../assets/Payment Information-bro.svg" alt="Página de compras"
            class="img-fluid imgs-como-funciona">
          <div class="ajustes-numero">
            <span class="dot d-flex align-items-center justify-content-center">3</span>
          </div>
        </div>
        <h2 class="tipoFonte">Compre um Curso</h2>
        <p>O lucro será convertido para a doação!</p>
      </div>
    </div>
  </div>

</div>
