<body>
<main>
    <div class="box">
        <div>
            <img src="https://media.istockphoto.com/photos/young-business-team-of-boys-race-a-go-cart-picture-id959599264?k=20&m=959599264&s=612x612&w=0&h=YVf2AQ9lUftD2QF7YzuARVF_xm5d8rmEKeYYI1UnSq8=" class="m-100" style="width: 100%; height: 30%; align-items:auto" alt="Sobre nós">
        </div>
        <div class="container-fluid text-center">   
            <div>
                <p>Sobre nós</p>
            </div>
            <hr>
            <div class="container text-center">
                
                <p>
                    Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Quem manda na minha terra sou euzis!
    
    
                    Manduma pindureta quium dia nois paga. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
    
    
                    Interagi no mé, cursus quis, vehicula ac nisi. Aenean aliquam molestie leo, vitae iaculis nisl. Viva Forevis aptent taciti sociosqu ad litora torquent. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
    
    
                    Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. In elementis mé pra quem é amistosis quis leo.
    
    
                    Casamentiss faiz malandris se pirulitá. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Quem num gosta di mé, boa gentis num é. Atirei o pau no gatis, per gatis num morreus.
                </p>
            </div>
        </div>
    </div>

    <!-- Nossa Equipe -->
    <div class="container p-10 m-0">
      <strong>
        <h4 class="py-3">NOSSA EQUIPE</h4>
      </strong>
    </div>
    <!-- Nossa Equipe -->


</main>
</body>

