<div class="container fluid">
    <div class="row d-flex align-items-center" style="background-color: #1c1c1c;">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-28">Seja bem vindo(a)!</h1>
                    <h5 class="fs-18">Conquiste os lugares mais altos com os cursos conquer </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container fluid py-4 d-flex justify-content-around">
    <div class="col-md-6 d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://i.imgur.com/XAnuc44.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Curso de programação para iniciantes</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://i.imgur.com/gbsysll.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Curso de ingles basico ao avançado</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://i.imgur.com/zOyJDpB.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Curso de teatro</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>